/* General
**************/

body {
  color: #333;
  background: #ededed;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Baloo Thambi', sans-serif;
}

/* Simulation
**************/

.simulation {
  text-align: center;
  margin-top: 60px;
}

.settings, .colors, .canvas {
  vertical-align: top;
  display: inline-block;
}

.settings, .colors {
  width: 25%;
}

.canvas {
  width: 50%;
}

canvas {
  box-shadow: -12px 12px 14px #888888;
}

/* Controls
**************/

.settings h4 {
  margin-bottom: 10px;
  display: inline-block;
}

.settings p {
  margin: 0;
}

.settings .species,
.settings .resilience {
  margin-bottom: 40px;
}

.neighborhoods .row {
  margin-bottom: 2px;
}

.neighborhoods .row .cell {
  box-shadow: none;
}

.neighborhoods .row .cell,
.neighborhoods .row .dead-cell {
  margin: 0 2px;
  width: 20px;
  height: 20px;
  background-color: lightgrey;
  display: inline-block;
}

.neighborhoods .row .dead-cell {
  background: transparent;
}

.neighborhoods .row .cell.active {
  box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.6);
}

.neighborhoods .row {
  height: 20px;
}

.info {
  position: relative;
  top: -4px;
  left: 2px;
  border: 1px solid #333;
  border-radius: 50%;
  display: inline-block;
  width: 15px;
  height: 15px;
}
.info:hover {
  cursor: help;
}

.info span {
  position: relative;
  top: -4px;
}

.modal {
  visibility: hidden;
  position: absolute;
  left: 0;
  background-color: #fff;
  padding: 15px;
  font-weight: normal;
  width: 200px;
}

.info:hover .modal {
  visibility: visible;
}

/* Colors
**************/

.colors input {
  width: 100px;
}

/* Footer
**************/

.footer {
  position: relative;
  text-align: center;
  margin-top: 40px;
}

.footer h4 {
  cursor: pointer;
  background-color: #ccc;
  display: inline-block;
  padding: 20px;
  margin: 0;
}

.info-modal {
  box-sizing: border-box;
  visibility: visible;
  position: absolute;
  background-color: #fff;
  padding: 50px;
  width: 100px;
  height: 0;
  top: -50px;
  left: 50%;
  margin-left: -50px;
  opacity: 0;
  transition: 0.7s;
}
.info-modal.active {
  visibility: visible;
  font-weight: 700;
  width: 500px;
  height: 500px;
  top: -500px;
  left: 50%;
  margin-left: -250px;
  opacity: 0.95;
}

.modal-exit {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
