/* General
**************/

body {
  color: #fff;
  background: #0a1323;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Baloo Thambi', sans-serif;
}

/* Simulation
**************/

.simulation {
  text-align: center;
}

.settings, .canvas {
  vertical-align: top;
  display: inline-block;
  width: 50%;
}

/* Controls
**************/

.neighborhoods .row .cell {
  width: 20px;
  height: 20px;
  background-color: #fff;
  display: inline-block;
}

.neighborhoods .row .cell.active {
  background-color: blue;
}

.neighborhoods .row .cell:hover {
  background-color: blue;
}

.neighborhoods .row {
  height: 20px;
}
